.form {
  display: grid;
  margin: 0 10rem;
  border: 1px solid grey;
  border-radius: 9px;
  padding: 3rem;
}

.form #submit-button {
  width: 100px;
  margin: auto;
  margin-top: 30px;
}

.intro {
  text-align: center;
  font-size: x-large;
  max-width: 500px;
  margin: 50px auto;
}
